<a href="https://colab.research.google.com/github/MK316/Learning01/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas practice with my data

In [1]:
import pandas as pd

In [55]:
df = pd.read_csv("https://raw.githubusercontent.com/MK316/Learning01/main/engpro22mid.csv")

In [128]:
df.head()

   id       score
0   1  137.500000
1   2  131.166667
2   3  125.833333
3   4   99.333333
4   5   67.833333

In [129]:
df.describe()

              id       score
count  29.000000   29.000000
mean   15.000000  125.126437
std     8.514693   26.093987
min     1.000000   67.833333
25%     8.000000  114.000000
50%    15.000000  131.166667
75%    22.000000  141.666667
max    29.000000  171.833333

In [57]:
df1 = df.drop('id',axis=1); df1.head()
df1['score'] = round(df['score'])
df1.head()

   score
0  138.0
1  131.0
2  126.0
3   99.0
4   68.0

In [95]:
df1['ID'] = range(1,30)
df1['score'] = round(df1['score'],2)
df1.head()

   score  ID
0  138.0   1
1  131.0   2
2  126.0   3
3   99.0   4
4   68.0   5

In [103]:
print(df1[df1['score']>155])

    score  ID
5   172.0   6
23  158.0  24

In [127]:
df1.loc[df1.score.idxmax()]

score    172.0
ID         6.0
Name: 5, dtype: float64

In [ ]:
df1.loc[2,:]

In [131]:
print(df1.score.min(),df1.score.max())

68.0 172.0

In [136]:
ColA = pd.Series(range(1,11))
ColB = pd.Series(range(11,21))

df2 = pd.DataFrame({'ColA':ColA, 'ColB':ColB})
df2.head()

   ColA  ColB
0     1    11
1     2    12
2     3    13
3     4    14
4     5    15